.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.header {
  overflow: hidden;
  background-color: #C5C6C7;
  padding: 30px 20px;
}

.header a {
float: left;
color: #1F2833;
text-align: center;
padding: 20px;
text-decoration: none;
font-size: 18px;
line-height: 30px;
border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.header a:hover {
  background-color: #06779a;
  color: rgb(255, 255, 255);
}

.header a.active {
  background-color: #06779a;
  color: white;
}

.align{
  margin-top: auto;
  padding: 20px 10px;
  border-radius: 10px;
  position: absolute;
  width: 1100px;
  left: 38%;
  transform: translate(-20% , -0%);
}
.align-1{
  padding: 10px 10px;
  border-radius: 6px;
  width: 300px;
  border-color: #a5a9ad;
}

.align-2{
  padding: 10px 10px;
  border-radius: 6px;
  width: 550px;
  border-color: #a5a9ad;
}

.btn1{
  background-color: red;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 14px;
  text-align: center;
  font-size: 16px;
  transition: 0.2s;
  margin-top: 15px;
}
.btn1:hover {
  background-color: #36557a;
  color: white;
  align-items: center;
}



 

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* #man{
  background-color: blue;
  color: #f1f1f1;
  padding: 18px;
} */

.sidebar a {
  display: block;
  color: black;
  padding: 11px;
  text-decoration: none;
}
 
.fac {
  background-color: red;
  padding: 18px;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(125, 123, 123);
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 
  