<!-- <div class="sidebar" *ngIf="authenticationService.isAuthenticated">
  <a routerLink="/faculty-dashboard" routerLinkActive="active" >Home</a>
  <a routerLink="/association" routerLinkActive="active">Association</a>
  <a routerLink="/educational-details" routerLinkActive="active"s>Educational Details</a>
  <a routerLink="/innovation-details" routerLinkActive="active">Innovation Details</a>
  <a routerLink="/responsibility" routerLinkActive="active">Roles & Responsibilities</a>
</div> -->
<router-outlet> </router-outlet>